[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mwparserfromhell = "*"
numpy = "*"
pandas = "*"
lxml = "*"
wikitextparser = "*"
pywikibot = "*"
requests = "*"
"progressbar2" = "*"
"beautifulsoup4" = "*"

[dev-packages]
pipenv = "*"
jupyterlab = "*"
pytest = "*"
ipytest = "*"
pycodestyle = "*"
pycodestyle-magic = "*"

[requires]
python_version = "3.6"
