[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
lxml = "*"
wikitextparser = "*"
pywikibot = "*"
requests = "*"
"progressbar2" = "*"
"beautifulsoup4" = "*"
jsonlines = "*"
spacy = "*"
"en-core-web-sm-2.0.0" = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz"}
requests-futures = "*"
pycountry-convert = "*"
reverse-geocoder = "*"
scikit-learn = "*"
prince = "*"
seaborn = "*"
corextopic = "*"

[dev-packages]
pytest = "*"
ipytest = "*"
pycodestyle = "*"
pycodestyle-magic = "*"
pylint = "*"
"autopep8" = "*"
rope = "*"
jupyterlab = "*"

[requires]
python_version = "3.6"
